node_modules
types

#Hardhat files
cache
artifacts
.env
.DS_Store

#remix files
contracts/.deps

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session
coverage/
coverage.json